<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stderr="true"
         stopOnFailure="false"
        >
        <testsuites>
            <testsuite name="Unit">
                <directory>tests/Unit</directory>
            </testsuite>
            <testsuite name="Cli">
                <directory>tests/Cli</directory>
            </testsuite>
        </testsuites>
</phpunit>